form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form,
.form-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.form-name,
.form-email,
.form-comment,
.form-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-title {
  height: 45px;
  color: black;
  margin-bottom: 20px;
}

.form-container {
  width: 300px;
  margin: 0 auto;
}

.form-button button {
  width: 100px;
}

form label {
  font-weight: 500;
}

form input,
form textarea,
form button {
  border-radius: 5px;
  height: 1.5rem;
  line-height: 1.5;
  border: 1px solid black;
}

form textarea {
  height: auto;
}

.form-button button {
  background-color: darkgreen;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  padding: 5px 0;
  height: auto;
}

.form-button button:hover {
  border: 1px solid gray;
  background-color: white;
  color: darkgreen;
}
