button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.button__icon--sm {
  /* componente (B) : button, elemento (E) : icon, modificador (M) : sm  */
  width: 1rem;
  height: 1rem;
}

.button--primary {
  /* componente (B) : button, modificador (M) : primary */
  background-color: var(--primary-background);
  color: var(--primary-foreground);
  border: 1px solid var(--base-transparent, #ffffff);
  box-shadow: 0px 1px 2px 0px #0000000d;
}

.button--primary-hover {
  /* componente (B) : button, modificador (M) : primary */
  background-color: var(--primary-background-hover);
}

.button--secondary {
  /* componente (B) : button, modificador (M) : primary */
  background-color: var(--secondary-background);
  color: var(--secondary-foreground);
  border: 1px solid var(--base-transparent, #ffffff);
  /* border: none; */
  box-shadow: 0px 1px 2px 0px #0000000d;
}

.button--secondary-hover {
  /* componente (B) : button, modificador (M) : primary */
  background-color: var(--secondary-background-hover);
}

.button--sm {
  padding: 0.1875rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  height: 1.5rem;
  border-radius: 0.375rem;
}

.button--base {
  padding: 0.3125rem 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.button--lg {
  padding: 0.5625rem 0.875rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.button--xl {
  padding: 0.6875rem 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 3rem;
  border-radius: 0.5rem;
}

.button-container {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}
