@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Inter", "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #171717;
}

* {
  box-sizing: border-box;
}

.subscribe-title {
  font-weight: 500;
  color: #1c2024;
  line-height: 20px;
}

.subscribe-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #60646c;
}

.subscribe-email {
  width: 335px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #cdced6;
  padding: 0 5px;
  box-shadow: 0px 1px 2px 0px #0000000d;
}

form {
  display: flex;
  gap: 8px;
}

.subscribe-button {
  background-color: #f0f0f3;
  color: #60646c;
  font-weight: 500;
  font-size: 14px;
  width: 105px;
  height: 40px;
  border-radius: 8px;
  border-color: unset;
  border-style: unset;
  box-shadow: 0px 1px 2px 0px #0000000d;
}
